@import "tailwindcss";

@keyframes zoomout {
  from {
    scale: 1.2;
  }
}
@keyframes appear {
  0% {
   opacity:0;
  }
  30% {
    opacity:0;
  }
  68%,
  72% {
    opacity:0;
  }
  100% {
    opacity:100%;
  }
}

:root {
   --playfair: "Playfair Display", serif;
   --lato: "Lato", sans-serif;
   --highlight: #db2b2b;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
  color-scheme: light dark;
  color:#0a0505;
  border-radius: 0!important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
  padding: 0;
  font-family: var(--lato);
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {

  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--highlight);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
